Repository Canner/wren-engine, changes with the labels that .github/labeler.yml gives for each.
All labels: ibis, dependencies, python, rust, core, documentation, trino, bigquery

chore(comment): use description instead of comment to fit canner enterprise design
  ibis-server/tests/routers/v2/connector/test_canner.py
Labels: ibis, python

test(canner): adjust the pattern
  ibis-server/tests/routers/v2/connector/test_canner.py
Labels: ibis, python

test(canner): remove unused
  ibis-server/tests/routers/v2/connector/test_canner.py
Labels: ibis, python

feat(canner): implement new data source `canner` (#823)
  .github/workflows/ibis-ci.yml
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/model/__init__.py
  ibis-server/app/model/connector.py
  ibis-server/app/model/data_source.py
  ibis-server/app/model/metadata/canner.py
  ibis-server/app/model/metadata/factory.py
  ibis-server/app/model/metadata/metadata.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/routers/v2/connector/test_canner.py
Labels: ibis, dependencies, python

fix(bigquery): fix Interval precision is None and format interval to str
  ibis-server/app/custom_ibis/__init__.py
  ibis-server/app/custom_ibis/backends/__init__.py
  ibis-server/app/custom_ibis/backends/sql/__init__.py
  ibis-server/app/custom_ibis/backends/sql/datatypes.py
  ibis-server/app/model/connector.py
  ibis-server/app/util.py
  ibis-server/tests/routers/v2/connector/test_bigquery.py
Labels: ibis, python, bigquery

infer the source column from the manifest
  wren-modeling-rs/core/src/mdl/mod.rs
Labels: rust, core

fix(bigquery): fix Interval precision is None and format interval to str (#843)
  ibis-server/app/custom_ibis/__init__.py
  ibis-server/app/custom_ibis/backends/__init__.py
  ibis-server/app/custom_ibis/backends/sql/__init__.py
  ibis-server/app/custom_ibis/backends/sql/datatypes.py
  ibis-server/app/model/connector.py
  ibis-server/app/util.py
  ibis-server/tests/routers/v2/connector/test_bigquery.py
Labels: ibis, python, bigquery

feat(core): infer the source column from the manifest (#844)
  wren-modeling-rs/core/src/mdl/mod.rs
Labels: rust, core

handle optional field in mdl
  wren-modeling-rs/core/src/logical_plan/analyze/model_generation.rs
  wren-modeling-rs/core/src/logical_plan/utils.rs
  wren-modeling-rs/core/src/mdl/builder.rs
  wren-modeling-rs/core/src/mdl/dataset.rs
  wren-modeling-rs/core/src/mdl/manifest.rs
  wren-modeling-rs/core/src/mdl/mod.rs
Labels: rust, core

test(bigquery): use fixed date instead of current date
  ibis-server/tests/routers/v2/connector/test_bigquery.py
Labels: ibis, python, bigquery

handle empty exprsssion and integer as bool
  wren-modeling-rs/Cargo.toml
  wren-modeling-rs/core/Cargo.toml
  wren-modeling-rs/core/src/logical_plan/analyze/plan.rs
  wren-modeling-rs/core/src/logical_plan/utils.rs
  wren-modeling-rs/core/src/mdl/builder.rs
  wren-modeling-rs/core/src/mdl/dataset.rs
  wren-modeling-rs/core/src/mdl/manifest.rs
Labels: dependencies, rust, core

add comment for backward compatibility
  wren-modeling-rs/core/src/mdl/manifest.rs
Labels: rust, core

cargo update
  wren-modeling-py/Cargo.lock
Labels: python

test(bigquery): use fixed date instead of current date (#846)
  ibis-server/tests/routers/v2/connector/test_bigquery.py
Labels: ibis, python, bigquery

fix cargo check
  wren-modeling-rs/core/src/mdl/mod.rs
Labels: rust, core

fix clippy
  wren-modeling-rs/core/src/mdl/manifest.rs
Labels: rust, core

fix clippy
  wren-modeling-rs/core/src/mdl/builder.rs
Labels: rust, core

feat(metadata): provide db version
  ibis-server/app/model/metadata/bigquery.py
  ibis-server/app/model/metadata/canner.py
  ibis-server/app/model/metadata/clickhouse.py
  ibis-server/app/model/metadata/metadata.py
  ibis-server/app/model/metadata/mssql.py
  ibis-server/app/model/metadata/mysql.py
  ibis-server/app/model/metadata/postgres.py
  ibis-server/app/model/metadata/trino.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/tests/routers/v2/connector/test_bigquery.py
  ibis-server/tests/routers/v2/connector/test_canner.py
  ibis-server/tests/routers/v2/connector/test_clickhouse.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
  ibis-server/tests/routers/v2/connector/test_mysql.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
  ibis-server/tests/routers/v2/connector/test_trino.py
Labels: ibis, python, trino, bigquery

feat(metadata): provide db version (#845)
  ibis-server/app/model/metadata/bigquery.py
  ibis-server/app/model/metadata/canner.py
  ibis-server/app/model/metadata/clickhouse.py
  ibis-server/app/model/metadata/metadata.py
  ibis-server/app/model/metadata/mssql.py
  ibis-server/app/model/metadata/mysql.py
  ibis-server/app/model/metadata/postgres.py
  ibis-server/app/model/metadata/trino.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/tests/routers/v2/connector/test_bigquery.py
  ibis-server/tests/routers/v2/connector/test_canner.py
  ibis-server/tests/routers/v2/connector/test_clickhouse.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
  ibis-server/tests/routers/v2/connector/test_mysql.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
  ibis-server/tests/routers/v2/connector/test_trino.py
Labels: ibis, python, trino, bigquery

.github/labeler.yml:

ibis:
- changed-files:
  - any-glob-to-any-file: ['ibis-server/**']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['**/*.toml']

python:
- changed-files:
  - any-glob-to-any-file: ['ibis-server/**', 'wren-modeling-py/**']

rust:
- changed-files:
  - any-glob-to-any-file: ['wren-modeling-rs/**']

core:
- changed-files:
  - any-glob-to-any-file: ['wren-modeling-rs/**']

documentation:
- changed-files:
  - any-glob-to-any-file: ['**/*.md']

trino:
- changed-files:
  - any-glob-to-any-file: ['**/*trino*']

bigquery:
- changed-files:
  - any-glob-to-any-file: ['**/*bigquery*']
