Repository Canner/wren-engine, pull requests merged in 2024-06, with the labels that each got.

#583 Add test case for ibis
  .github/workflows/ibis-ci.yml
  .gitignore
  ibis-server/README.md
  ibis-server/app/main.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/model/data_source.py
  ibis-server/app/model/dto.py
  ibis-server/app/routers/ibis.py
  ibis-server/app/util.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/resource/tpch/data/customer.parquet
  ibis-server/tests/resource/tpch/data/orders.parquet
  ibis-server/tests/routers/ibis/test_bigquery.py
  ibis-server/tests/routers/ibis/test_postgres.py
  ibis-server/tests/routers/ibis/test_snowflake.py
Labels: bigquery, snowflake

#593 Add dryRun parameter for query API
  ibis-server/app/logger.py
  ibis-server/app/main.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/model/connector.py
  ibis-server/app/routers/ibis.py
  ibis-server/app/routers/ibis/__init__.py
  ibis-server/app/routers/ibis/bigquery.py
  ibis-server/app/routers/ibis/postgres.py
  ibis-server/app/routers/ibis/snowflake.py
  ibis-server/app/util.py
  ibis-server/tests/routers/ibis/test_bigquery.py
  ibis-server/tests/routers/ibis/test_postgres.py
  ibis-server/tests/routers/ibis/test_snowflake.py
Labels: bigquery, snowflake

#599 Modified the behavior for v1-engine CI workflow
  .github/workflows/build.yml
  .github/workflows/integration-tests.yml
Labels: v1-engine-changed

#594 Add column_dtypes to forcibly convert the type
  ibis-server/app/model/connector.py
  ibis-server/app/model/dto.py
  ibis-server/app/routers/ibis/bigquery.py
  ibis-server/app/routers/ibis/postgres.py
  ibis-server/app/routers/ibis/snowflake.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/routers/ibis/test_bigquery.py
  ibis-server/tests/routers/ibis/test_postgres.py
  ibis-server/tests/routers/ibis/test_snowflake.py
Labels: bigquery, snowflake

#600 Adjust the struct of modleing-rs project
  wren-modeling-rs/Cargo.toml
  wren-modeling-rs/core/Cargo.toml
  wren-modeling-rs/core/src/lib.rs
  wren-modeling-rs/core/src/logical_plan/context_provider.rs
  wren-modeling-rs/core/src/logical_plan/mod.rs
  wren-modeling-rs/core/src/logical_plan/rule.rs
  wren-modeling-rs/core/src/logical_plan/utils.rs
  wren-modeling-rs/core/src/mdl/builder.rs
  wren-modeling-rs/core/src/mdl/lineage.rs
  wren-modeling-rs/core/src/mdl/manifest.rs
  wren-modeling-rs/core/src/mdl/mod.rs
  wren-modeling-rs/core/src/mdl/utils.rs
  wren-modeling-rs/core/tests/data/mdl.json
Labels: modeling-rs

#605 Add validation API
  ibis-server/app/main.py
  ibis-server/app/model/connector.py
  ibis-server/app/model/data_source.py
  ibis-server/app/model/dto.py
  ibis-server/app/model/validator.py
  ibis-server/app/routers/ibis/bigquery.py
  ibis-server/app/routers/ibis/postgres.py
  ibis-server/app/routers/ibis/snowflake.py
  ibis-server/tests/routers/ibis/test_bigquery.py
  ibis-server/tests/routers/ibis/test_postgres.py
  ibis-server/tests/routers/ibis/test_snowflake.py
Labels: bigquery, snowflake

#607 Follow the DataFusion coding style
  wren-modeling-rs/.gitignore
  wren-modeling-rs/Cargo.toml
  wren-modeling-rs/README.md
  wren-modeling-rs/core/Cargo.toml
  wren-modeling-rs/core/src/logical_plan/rule.rs
  wren-modeling-rs/core/src/mdl/builder.rs
  wren-modeling-rs/core/src/mdl/lineage.rs
  wren-modeling-rs/core/src/mdl/mod.rs
  wren-modeling-rs/core/src/mdl/utils.rs
  wren-modeling-rs/rustfmt.toml
  wren-modeling-rs/taplo.toml
Labels: modeling-rs

#604 Add sqllogictest for modeling-rs end-to-end test
  wren-modeling-rs/.gitignore
  wren-modeling-rs/Cargo.toml
  wren-modeling-rs/core/Cargo.toml
  wren-modeling-rs/core/src/logical_plan/utils.rs
  wren-modeling-rs/core/src/mdl/builder.rs
  wren-modeling-rs/core/src/mdl/mod.rs
  wren-modeling-rs/sqllogictest/Cargo.toml
  wren-modeling-rs/sqllogictest/bin/sqllogictests.rs
  wren-modeling-rs/sqllogictest/src/engine/conversion.rs
  wren-modeling-rs/sqllogictest/src/engine/error.rs
  wren-modeling-rs/sqllogictest/src/engine/mod.rs
  wren-modeling-rs/sqllogictest/src/engine/normalize.rs
  wren-modeling-rs/sqllogictest/src/engine/output.rs
  wren-modeling-rs/sqllogictest/src/engine/runner.rs
  wren-modeling-rs/sqllogictest/src/engine/utils.rs
  wren-modeling-rs/sqllogictest/src/lib.rs
  wren-modeling-rs/sqllogictest/src/test_context.rs
  wren-modeling-rs/sqllogictest/test_sql_files/model.slt
  wren-modeling-rs/sqllogictest/tests/resources/ecommerce/customers.csv
  wren-modeling-rs/sqllogictest/tests/resources/ecommerce/order_items.csv
  wren-modeling-rs/sqllogictest/tests/resources/ecommerce/orders.csv
Labels: modeling-rs

#615 Upgrade DuckDB to v1.0.0
  pom.xml
Labels: v1-engine-changed

#613 Fix the to_one relationship and enhance the testing
  wren-modeling-rs/Cargo.toml
  wren-modeling-rs/core/Cargo.toml
  wren-modeling-rs/core/src/logical_plan/analyze/mod.rs
  wren-modeling-rs/core/src/logical_plan/analyze/plan.rs
  wren-modeling-rs/core/src/logical_plan/analyze/rule.rs
  wren-modeling-rs/core/src/logical_plan/context_provider.rs
  wren-modeling-rs/core/src/logical_plan/mod.rs
  wren-modeling-rs/core/src/logical_plan/rule.rs
  wren-modeling-rs/core/src/logical_plan/utils.rs
  wren-modeling-rs/core/src/mdl/lineage.rs
  wren-modeling-rs/core/src/mdl/manifest.rs
  wren-modeling-rs/core/src/mdl/mod.rs
  wren-modeling-rs/core/src/mdl/utils.rs
  wren-modeling-rs/core/tests/data/mdl.json
  wren-modeling-rs/sqllogictest/src/test_context.rs
  wren-modeling-rs/sqllogictest/test_sql_files/model.slt
  wren-modeling-rs/sqllogictest/tests/resources/ecommerce/customers.csv
  wren-modeling-rs/sqllogictest/tests/resources/ecommerce/order_items.csv
  wren-modeling-rs/sqllogictest/tests/resources/ecommerce/orders.csv
  wren-modeling-rs/wren-example/Cargo.toml
  wren-modeling-rs/wren-example/README.md
  wren-modeling-rs/wren-example/examples/datafusion-apply.rs
  wren-modeling-rs/wren-example/examples/plan-sql.rs
Labels: modeling-rs

#630 Support the syntax of file query and table function for DuckDB
  trino-parser/src/main/antlr4/io/trino/sql/parser/SqlBase.g4
  trino-parser/src/main/java/io/trino/sql/SqlFormatter.java
  trino-parser/src/main/java/io/trino/sql/parser/AstBuilder.java
  trino-parser/src/main/java/io/trino/sql/tree/AstVisitor.java
  trino-parser/src/main/java/io/trino/sql/tree/PathRelation.java
  trino-parser/src/test/java/io/trino/sql/parser/TestSqlParserErrorHandling.java
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/StatementAnalyzer.java
  wren-tests/src/test/java/io/wren/testing/duckdb/TestDuckDBSqlConverter.java
  wren-tests/src/test/java/io/wren/testing/duckdb/TestWrenWithDuckDBTableFunction.java
  wren-tests/src/test/resources/csv/orders/orders-2.csv
  wren-tests/src/test/resources/csv/orders/orders.csv
  wren-validation/src/main/java/io/wren/validation/RelationshipValidation.java
Labels: v1-engine-changed
