Repository Canner/wren-engine, pull requests merged in 2024-10, with the labels that each got.

#814 chore(ibis): remove workaround since ibis update
  ibis-server/app/model/__init__.py
  ibis-server/app/model/data_source.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
Labels: bigquery, ibis, trino

#812 feat(api): append cooments of column and table for metadata api
  ibis-server/app/model/metadata/bigquery.py
  ibis-server/app/model/metadata/clickhouse.py
  ibis-server/app/model/metadata/factory.py
  ibis-server/app/model/metadata/mssql.py
  ibis-server/app/model/metadata/mysql.py
  ibis-server/app/model/metadata/postgres.py
  ibis-server/app/model/metadata/trino.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/tests/routers/v2/connector/test_clickhouse.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
  ibis-server/tests/routers/v2/connector/test_mysql.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
  ibis-server/tests/routers/v2/connector/test_trino.py
Labels: ibis, trino

#815 feat(ibis): introduce the relationship validation
  ibis-server/app/model/validator.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/tests/routers/v2/connector/test_bigquery.py
  ibis-server/tests/routers/v2/connector/test_clickhouse.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
  ibis-server/tests/routers/v2/connector/test_mysql.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
  ibis-server/tests/routers/v2/connector/test_trino.py
  ibis-server/tests/routers/v2/test_relationship_valid.py
  ibis-server/tests/routers/v3/connector/test_postgres.py
  trino-parser/src/main/java/io/trino/sql/ExpressionFormatter.java
  wren-tests/src/test/java/io/wren/testing/duckdb/TestDuckDBSqlConverter.java
Labels: v1-engine-changed

#820 fix(core): fix the field resolving for the relationship column
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/ExpressionAnalyzer.java
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/Field.java
  wren-base/src/test/java/io/wren/base/sqlrewrite/analyzer/TestStatementAnalyzer.java
Labels: v1-engine-changed

#827 chore(core): allow to set MANY_TO_MANY relationship
  wren-base/src/main/java/io/wren/base/dto/JoinType.java
  wren-tests/src/test/java/io/wren/testing/TestMDLResourceV2.java
Labels: v1-engine-changed

#829 feat(core): implement file-based remote function register
  ibis-server/app/config.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/tests/resource/functions.csv
  ibis-server/tests/routers/v3/connector/test_postgres.py
  ibis-server/tests/test_main.py
  wren-modeling-py/Cargo.lock
  wren-modeling-py/Cargo.toml
  wren-modeling-py/src/lib.rs
  wren-modeling-py/src/remote_functions.rs
  wren-modeling-py/tests/functions.csv
  wren-modeling-py/tests/test_modeling_core.py
  wren-modeling-rs/benchmarks/src/tpch/run.rs
  wren-modeling-rs/core/Cargo.toml
  wren-modeling-rs/core/src/mdl/function.rs
  wren-modeling-rs/core/src/mdl/mod.rs
  wren-modeling-rs/core/tests/data/functions.csv
  wren-modeling-rs/wren-example/Cargo.toml
  wren-modeling-rs/wren-example/examples/calculation-invoke-calculation.rs
  wren-modeling-rs/wren-example/examples/datafusion-apply.rs
  wren-modeling-rs/wren-example/examples/plan-sql.rs
  wren-modeling-rs/wren-example/examples/to-many-calculation.rs
  wren-modeling-rs/wren-example/examples/view.rs
Labels: dependencies

#834 fix(trino): fix sql for querying metadata
  ibis-server/app/model/metadata/trino.py
  ibis-server/tests/routers/v2/connector/test_trino.py
Labels: ibis, trino, python

#836 chore(log): adjust log
  ibis-server/app/config.py
  ibis-server/app/main.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/middleware/__init__.py
  ibis-server/app/model/__init__.py
  ibis-server/app/model/validator.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/routers/v2/connector/test_bigquery.py
  ibis-server/tests/routers/v2/connector/test_clickhouse.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
  ibis-server/tests/routers/v2/connector/test_mysql.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
  ibis-server/tests/routers/v2/connector/test_trino.py
  ibis-server/tests/routers/v3/connector/test_postgres.py
Labels: bigquery, ibis, dependencies, trino, python

#839 fix(mssql): handle ibis error when sql with invalid syntax
  ibis-server/app/model/__init__.py
  ibis-server/app/model/connector.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
Labels: ibis, python

#823 feat(canner): implement new data source `canner`
  .github/workflows/ibis-ci.yml
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/model/__init__.py
  ibis-server/app/model/connector.py
  ibis-server/app/model/data_source.py
  ibis-server/app/model/metadata/canner.py
  ibis-server/app/model/metadata/factory.py
  ibis-server/app/model/metadata/metadata.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/routers/v2/connector/test_canner.py
Labels: ibis, dependencies, python

#844 feat(core): infer the source column from the manifest
  wren-modeling-rs/core/src/mdl/mod.rs
Labels: core, rust

#846 test(bigquery): use fixed date instead of current date
  ibis-server/tests/routers/v2/connector/test_bigquery.py
Labels: bigquery, ibis, python

#845 feat(metadata): provide db version
  ibis-server/app/model/metadata/bigquery.py
  ibis-server/app/model/metadata/canner.py
  ibis-server/app/model/metadata/clickhouse.py
  ibis-server/app/model/metadata/metadata.py
  ibis-server/app/model/metadata/mssql.py
  ibis-server/app/model/metadata/mysql.py
  ibis-server/app/model/metadata/postgres.py
  ibis-server/app/model/metadata/trino.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/tests/routers/v2/connector/test_bigquery.py
  ibis-server/tests/routers/v2/connector/test_canner.py
  ibis-server/tests/routers/v2/connector/test_clickhouse.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
  ibis-server/tests/routers/v2/connector/test_mysql.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
  ibis-server/tests/routers/v2/connector/test_trino.py
Labels: bigquery, ibis, trino, python

#847 feat(core): enhance the manifest serizlization and deserialization
  wren-modeling-py/Cargo.lock
  wren-modeling-rs/Cargo.toml
  wren-modeling-rs/core/Cargo.toml
  wren-modeling-rs/core/src/logical_plan/analyze/model_generation.rs
  wren-modeling-rs/core/src/logical_plan/analyze/plan.rs
  wren-modeling-rs/core/src/logical_plan/utils.rs
  wren-modeling-rs/core/src/mdl/builder.rs
  wren-modeling-rs/core/src/mdl/dataset.rs
  wren-modeling-rs/core/src/mdl/manifest.rs
  wren-modeling-rs/core/src/mdl/mod.rs
Labels: core, dependencies, rust, python

#853 chore(core-py-deps): bump lexical-core from 0.8 to 1.0 and update the lock in /wren-core-py groups
  wren-core-py/Cargo.lock
Labels: python

#857 docs: update how-to-add-data-source.md
  ibis-server/docs/how-to-add-data-source.md
Labels: documentation, ibis, python

#858 feat(core): introduce `PySessionContext` and the API for the available function list
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/tests/routers/v3/connector/test_postgres.py
  wren-core-py/Cargo.lock
  wren-core-py/Cargo.toml
  wren-core-py/src/context.rs
  wren-core-py/src/errors.rs
  wren-core-py/src/lib.rs
  wren-core-py/src/remote_functions.rs
  wren-core-py/tests/functions.csv
  wren-core-py/tests/test_modeling_core.py
  wren-core/core/src/lib.rs
  wren-core/core/src/mdl/function.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, ibis, dependencies, rust, python

#859 feat(function-list): search file by data source name
  ibis-server/app/config.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/tests/resource/function_list/postgres.csv
  ibis-server/tests/routers/v3/connector/test_postgres.py
Labels: ibis, python

#860 fix(deps): gql is in wrong group
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
Labels: ibis, dependencies, python

#862 feat(core): remove properties field from mdl and improve the error message
  ibis-server/tests/routers/v3/connector/test_postgres.py
  wren-core-py/src/context.rs
  wren-core-py/src/errors.rs
  wren-core/core/src/mdl/builder.rs
  wren-core/core/src/mdl/manifest.rs
Labels: core, ibis, rust, python

#864 chore(ibis): implement mdl validation scripts
  ibis-server/pyproject.toml
  ibis-server/tools/README.md
  ibis-server/tools/mdl_validation.py
Labels: documentation, ibis, dependencies, python

#863 feat(core): introduce the hidden column
  wren-core/core/src/mdl/builder.rs
  wren-core/core/src/mdl/dataset.rs
  wren-core/core/src/mdl/lineage.rs
  wren-core/core/src/mdl/manifest.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust

#865 feat(function-list): append file into docker image
  ibis-server/Dockerfile
  ibis-server/app/config.py
  ibis-server/resources/function_list/postgres.csv
  ibis-server/tests/routers/v3/connector/test_postgres.py
Labels: ibis, python

#869 chore(ibis): introduce a script for query locally
  ibis-server/tools/README.md
  ibis-server/tools/query_local_run.py
Labels: documentation, ibis, python

#870 feat(session-context): cache session context
  ibis-server/app/mdl/context.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/tests/mdl/__init__.py
  ibis-server/tests/mdl/test_context.py
Labels: ibis, python

#872 feat(mssql): use msodbcsql instead of freetds
  .github/workflows/ibis-ci.yml
  ibis-server/Dockerfile
  ibis-server/app/model/__init__.py
  ibis-server/docs/development.md
  ibis-server/tests/routers/v2/connector/test_mssql.py
Labels: documentation, ibis, python
