Repository Canner/wren-engine, pull requests merged in 2024-12, with the labels that each got.

#960 feat(core): disable `EliminateNestedUnion`
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust

#961 feat(core): use MySQL interval style for output format
  wren-core/core/src/mdl/dialect.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust

#962 feat(ibis): use the default input dialect
  ibis-server/app/mdl/rewriter.py
  ibis-server/resources/function_list/bigquery.csv
  ibis-server/resources/function_list/mysql.csv
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
Labels: bigquery, ibis, python

#969 feat(core): avoid to generate unnamed subquery when planning calculated fields
  ibis-server/tests/routers/v3/connector/postgres/conftest.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
  ibis-server/tools/mdl_validation.py
  wren-core/core/src/logical_plan/analyze/model_generation.rs
  wren-core/core/src/logical_plan/analyze/plan.rs
  wren-core/core/src/logical_plan/analyze/relation_chain.rs
  wren-core/core/src/logical_plan/utils.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, ibis, rust, python

#971 chore: add docker compose yaml
  docker/compose.yaml
  docker/etc/config.properties
  ibis-server/justfile
Labels: ibis, python

#972 fix(core): fix the StatementAnalyzer for UNNEST and LATERAL query
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/ExpressionAnalyzer.java
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/Scope.java
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/StatementAnalyzer.java
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/decisionpoint/RelationAnalyzer.java
  wren-tests/src/test/java/io/wren/testing/duckdb/TestWrenWithDuckDBTableFunction.java
Labels: v1-engine-changed

#959 feat(wren-core-py): implement ManifestExtractor
  ibis-server/README.md
  ibis-server/app/mdl/context.py
  ibis-server/app/mdl/core.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/docs/development.md
  ibis-server/tests/mdl/test_context.py
  wren-core-py/Cargo.lock
  wren-core-py/Cargo.toml
  wren-core-py/README.md
  wren-core-py/justfile
  wren-core-py/poetry.lock
  wren-core-py/pyproject.toml
  wren-core-py/src/context.rs
  wren-core-py/src/errors.rs
  wren-core-py/src/extractor.rs
  wren-core-py/src/lib.rs
  wren-core-py/src/manifest.rs
  wren-core-py/src/remote_functions.rs
  wren-core-py/tests/__init__.py
  wren-core-py/tests/test_modeling_core.py
  wren-core/core/src/mdl/manifest.rs
  wren-core/core/src/mdl/mod.rs
Labels: documentation, core, bigquery, ibis, dependencies, rust, python

#974 feat(java): warm up java engine
  wren-main/src/main/java/io/wren/main/PreviewService.java
  wren-main/src/main/java/io/wren/main/web/SystemResource.java
  wren-server/src/main/java/io/wren/server/WrenServer.java
  wren-server/src/main/java/io/wren/server/module/WebModule.java
Labels: v1-engine-changed

#978 chore(java): make manifest complex to warm more class up
  wren-main/src/main/java/io/wren/main/PreviewService.java
Labels: v1-engine-changed

#981 chore(core): upgrade pyo3 to 0.23.3
  wren-core-py/Cargo.lock
  wren-core-py/Cargo.toml
Labels: dependencies, python

#980 feat(core): add `dataSource` field to MDL
  wren-core/core/src/mdl/builder.rs
  wren-core/core/src/mdl/manifest.rs
  wren-core/core/tests/data/mdl.json
Labels: core, rust

#979 feat(ibis): use `httpx.AsyncClient` instead of httpx.request
  ibis-server/app/main.py
  ibis-server/app/mdl/http.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/model/validator.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/conftest.py
  ibis-server/tests/routers/conftest.py
  ibis-server/tests/routers/test_ibis.py
  ibis-server/tests/routers/v2/connector/test_bigquery.py
  ibis-server/tests/routers/v2/connector/test_canner.py
  ibis-server/tests/routers/v2/connector/test_clickhouse.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
  ibis-server/tests/routers/v2/connector/test_mysql.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
  ibis-server/tests/routers/v2/connector/test_trino.py
  ibis-server/tests/routers/v2/test_analysis.py
  ibis-server/tests/routers/v2/test_relationship_valid.py
  ibis-server/tests/routers/v3/connector/bigquery/conftest.py
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/bigquery/test_query.py
  ibis-server/tests/routers/v3/connector/canner/test_functions.py
  ibis-server/tests/routers/v3/connector/clickhouse/test_functions.py
  ibis-server/tests/routers/v3/connector/mssql/test_functions.py
  ibis-server/tests/routers/v3/connector/mysql/test_functions.py
  ibis-server/tests/routers/v3/connector/postgres/test_dry_plan.py
  ibis-server/tests/routers/v3/connector/postgres/test_functions.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
  ibis-server/tests/routers/v3/connector/postgres/test_validate.py
  ibis-server/tests/routers/v3/connector/snowflake/test_functions.py
  ibis-server/tests/routers/v3/connector/trino/test_functions.py
Labels: bigquery, ibis, dependencies, python

#982 chore: merge just commands
  .github/workflows/ibis-ci.yml
  .github/workflows/stable-release.yml
  ibis-server/Dockerfile
  ibis-server/README.md
  ibis-server/docs/development.md
  ibis-server/justfile
  wren-core-py/justfile
Labels: documentation, ibis, python, ci

#984 feat(core): support querying window function
  wren-core/core/src/logical_plan/analyze/model_anlayze.rs
  wren-core/core/src/mdl/mod.rs
  wren-core/sqllogictest/test_files/model.slt
Labels: core, rust

#985 fix(core): disable `SingleDistinctToGroupBy` for distinct aggregation unparsing
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust

#987 chore: use ORJSONResponse for high-performance
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
Labels: ibis, python

#986 chore: wrap http client to init in lifespan
  ibis-server/app/main.py
  ibis-server/app/mdl/http.py
  ibis-server/app/mdl/java_engine.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/conftest.py
Labels: ibis, dependencies, python

#989 chore: use lifespan and depends
  ibis-server/app/main.py
  ibis-server/app/mdl/java_engine.py
  ibis-server/app/routers/v2/connector.py
Labels: ibis, python

#993 fix(core): remove unused check to fix union syntax
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/StatementAnalyzer.java
  wren-tests/src/test/java/io/wren/testing/duckdb/TestWrenWithDuckDB.java
Labels: v1-engine-changed

#994 ci(release): auto generate gh release note
  .github/workflows/stable-release.yml
Labels: ci

#995 ci(release): fix missing tag
  .github/workflows/stable-release.yml
Labels: ci

#996 ci(release): remove unused job for push-tag
  .github/workflows/stable-release.yml
Labels: ci

#997 test: make test use fixture
  ibis-server/tests/test_main.py
Labels: ibis, python

#998 chore: add class State and use state instead of singleton
  ibis-server/app/main.py
  ibis-server/app/mdl/java_engine.py
Labels: ibis, python

#999 feat(core): implement the dialect-specific function unparsing
  ibis-server/resources/function_list/mysql.csv
  ibis-server/tests/routers/v3/connector/mysql/test_functions.py
  wren-core-py/src/extractor.rs
  wren-core-py/src/manifest.rs
  wren-core-py/tests/test_modeling_core.py
  wren-core/core/src/mdl/builder.rs
  wren-core/core/src/mdl/dialect/inner_dialect.rs
  wren-core/core/src/mdl/dialect/mod.rs
  wren-core/core/src/mdl/dialect/utils.rs
  wren-core/core/src/mdl/dialect/wren_dialect.rs
  wren-core/core/src/mdl/manifest.rs
  wren-core/core/src/mdl/mod.rs
  wren-core/core/tests/data/mdl.json
Labels: core, ibis, rust, python

#1001 chore(rewriter): pull out duplicate code
  ibis-server/app/mdl/rewriter.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
Labels: ibis, python

#1002 feat(substitute): add model substitute API
  ibis-server/app/mdl/substitute.py
  ibis-server/app/model/__init__.py
  ibis-server/app/model/validator.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/app/util.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v3/connector/postgres/test_model_substitute.py
Labels: ibis, dependencies, python

#1005 feat(extract): handle extraction failed
  ibis-server/app/mdl/rewriter.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
Labels: ibis, python

#1003 refactor(core): introduce `wren-core-base` module to collect the common structs and utilities
  wren-core-base/.gitignore
  wren-core-base/Cargo.toml
  wren-core-base/README.md
  wren-core-base/manifest-macro/Cargo.toml
  wren-core-base/manifest-macro/README.md
  wren-core-base/manifest-macro/src/lib.rs
  wren-core-base/src/lib.rs
  wren-core-base/src/mdl/builder.rs
  wren-core-base/src/mdl/manifest.rs
  wren-core-base/src/mdl/mod.rs
  wren-core-base/src/mdl/py_method.rs
  wren-core-py/Cargo.lock
  wren-core-py/Cargo.toml
  wren-core-py/src/extractor.rs
  wren-core-py/src/lib.rs
  wren-core-py/src/manifest.rs
  wren-core/Cargo.toml
  wren-core/core/Cargo.toml
  wren-core/core/src/mdl/dataset.rs
  wren-core/core/src/mdl/mod.rs
  wren-core/core/src/mdl/utils.rs
Labels: documentation, core, dependencies, rust, python

#1011 fix(core): add missing context for image building
  .github/workflows/build-image.yml
  .github/workflows/stable-release.yml
  ibis-server/Dockerfile
  ibis-server/justfile
Labels: ibis, python, ci

#1012 fix: fix the context typo for build-image flow
  .github/workflows/build-image.yml
Labels: ci

#1013 fix(ibis): implement workaround for empty json result
  ibis-server/app/model/connector.py
  ibis-server/tests/routers/v2/connector/test_bigquery.py
Labels: bigquery, ibis, python

#1017 feat(core): sync DataFusion for the latest SQL syntax
  ibis-server/poetry.lock
  ibis-server/tests/conftest.py
  ibis-server/tests/routers/v3/connector/postgres/test_functions.py
  wren-core-py/Cargo.lock
  wren-core-py/poetry.lock
  wren-core-py/tests/test_modeling_core.py
  wren-core/Cargo.toml
  wren-core/core/src/logical_plan/analyze/plan.rs
  wren-core/core/src/mdl/dialect/utils.rs
  wren-core/core/src/mdl/dialect/wren_dialect.rs
  wren-core/core/src/mdl/function.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, ibis, dependencies, rust, python

#1018 chore(ibis): Added support for MySQL SSL connection
  ibis-server/app/model/__init__.py
  ibis-server/app/model/data_source.py
Labels: ibis, python
