Repository Canner/wren-engine, pull requests merged in 2024-08, with the labels that each got.

#723 feat: trino integration get tables name api developed
  ibis-server/app/model/metadata/factory.py
  ibis-server/app/model/metadata/trino.py
  ibis-server/tests/routers/v2/connector/test_trino.py
Labels: trino

#729 Fix the scope analysis of the CTEs
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/StatementAnalyzer.java
  wren-base/src/test/java/io/wren/base/sqlrewrite/analyzer/TestDecisionPointAnalyzer.java
Labels: v1-engine-changed

#740 fix(core): exclude relationship column and calculated field when selecting all in the analysis result
  wren-base/src/main/java/io/wren/base/dto/Measure.java
  wren-base/src/main/java/io/wren/base/dto/Window.java
  wren-base/src/main/java/io/wren/base/sqlrewrite/CacheRewrite.java
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/Field.java
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/RelationType.java
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/StatementAnalyzer.java
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/decisionpoint/DecisionPointAnalyzer.java
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/decisionpoint/RelationAnalyzer.java
  wren-base/src/test/java/io/wren/base/sqlrewrite/TestCacheRewrite.java
  wren-base/src/test/java/io/wren/base/sqlrewrite/analyzer/TestDecisionPointAnalyzer.java
Labels: v1-engine-changed

#746 fix(ibis): determine the data is null or not
  ibis-server/app/util.py
  ibis-server/tests/routers/v2/connector/test_bigquery.py
  ibis-server/tests/routers/v2/connector/test_clickhouse.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
  ibis-server/tests/routers/v2/connector/test_mysql.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
  ibis-server/tests/routers/v2/connector/test_trino.py
Labels: bigquery

#748 chore(duckdb): add log to ensure duckdb execute init sql and session sql
  wren-base/src/main/java/io/wren/base/client/duckdb/DuckdbClient.java
Labels: v1-engine-changed

#775 feat(ibis): adjust json data type and format
  ibis-server/app/model/__init__.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/app/util.py
  ibis-server/tests/routers/v2/connector/test_bigquery.py
  ibis-server/tests/routers/v2/connector/test_clickhouse.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
  ibis-server/tests/routers/v2/connector/test_mysql.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
  ibis-server/tests/routers/v2/connector/test_trino.py
  ibis-server/tests/routers/v3/connector/test_postgres.py
Labels: bigquery, trino
