Repository Canner/wren-engine, pull requests merged in 2024-11, with the labels that each got.

#874 fix(core): fix the remote column inferring and disable simplify expression rule
  ibis-server/tests/routers/v3/connector/test_postgres.py
  ibis-server/tools/mdl_validation.py
  wren-core/core/src/logical_plan/analyze/model_generation.rs
  wren-core/core/src/logical_plan/utils.rs
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/dataset.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, ibis, rust, python

#878 chore(metadata): avoid using schema as a field name
  ibis-server/app/model/metadata/dto.py
Labels: bigquery, ibis, trino, python

#881 chore(doc): remove hacktoberfest campaign
  README.md
Labels: documentation

#883 fix(core): disable `CountWildcardRule` for BigQuery source
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust

#889 fix(mssql): escape special characters for odbc
  ibis-server/app/model/data_source.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
Labels: ibis, python

#891 feat(core): upgrade DataFusion to the required commit
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/canner/test_functions.py
  ibis-server/tests/routers/v3/connector/clickhouse/test_functions.py
  ibis-server/tests/routers/v3/connector/mssql/test_functions.py
  ibis-server/tests/routers/v3/connector/mysql/test_functions.py
  ibis-server/tests/routers/v3/connector/postgres/test_functions.py
  ibis-server/tests/routers/v3/connector/snowflake/test_functions.py
  ibis-server/tests/routers/v3/connector/trino/test_functions.py
  wren-core-py/Cargo.lock
  wren-core-py/tests/test_modeling_core.py
  wren-core/Cargo.toml
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/function.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, ibis, dependencies, rust, python

#892 test(mssql): pull out test case about special characters
  ibis-server/tests/routers/v2/connector/test_mssql.py
Labels: ibis, python

#894 chore(function-list): lowercase the function name and add missed timestamp functions for bigquery
  ibis-server/resources/function_list/bigquery.csv
  ibis-server/resources/function_list/canner.csv
  ibis-server/resources/function_list/mssql.csv
  ibis-server/resources/function_list/mysql.csv
  ibis-server/resources/function_list/snowflake.csv
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/mssql/test_functions.py
  ibis-server/tests/routers/v3/connector/mysql/test_functions.py
  ibis-server/tests/routers/v3/connector/snowflake/test_functions.py
Labels: bigquery, ibis, python

#893 ci(image): adjust build flow
  .github/workflows/build-dev-image.yml
  .github/workflows/build-image.yml
  .github/workflows/stable-release.yml
Labels: ibis, python

#897 test: pull out datafusion function count
  ibis-server/tests/conftest.py
  ibis-server/tests/routers/v2/connector/test_trino.py
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/canner/test_functions.py
  ibis-server/tests/routers/v3/connector/clickhouse/test_functions.py
  ibis-server/tests/routers/v3/connector/mssql/test_functions.py
  ibis-server/tests/routers/v3/connector/mysql/test_functions.py
  ibis-server/tests/routers/v3/connector/postgres/test_functions.py
  ibis-server/tests/routers/v3/connector/snowflake/test_functions.py
  ibis-server/tests/routers/v3/connector/trino/test_functions.py
Labels: ibis, trino, python

#902 fix(ibis): remove redundant comma of the function list
  ibis-server/resources/function_list/bigquery.csv
  ibis-server/tests/routers/v3/connector/bigquery/conftest.py
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/bigquery/test_query.py
Labels: bigquery, ibis, python

#895 feat(ibis): Implement Snowflake Metadata APIs
  ibis-server/app/model/metadata/factory.py
  ibis-server/app/model/metadata/snowflake.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
  ibis-server/tests/routers/v3/connector/snowflake/test_functions.py
Labels: ibis, python

#907 fix(core): disable pushdown filter to keep the casting for timestamp column
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust

#908 feat(core): register timestamptz type to DataFusion timestamp with time zone type
  ibis-server/resources/function_list/bigquery.csv
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/bigquery/test_query.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
  ibis-server/tools/mdl_validation.py
  ibis-server/tools/query_local_run.py
  wren-core/core/src/logical_plan/optimize/simplify_timestamp.rs
  wren-core/core/src/logical_plan/utils.rs
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, bigquery, ibis, rust, python

#911 chore(ibis): move the wren_core into function
  ibis-server/app/mdl/context.py
  ibis-server/docs/development.md
Labels: documentation, ibis, python

#912 test(mssql): add non ascii column case
  ibis-server/tests/routers/v2/connector/test_mssql.py
Labels: ibis, python

#914 feat(core): support to Array and Struct type
  wren-core-py/src/context.rs
  wren-core/core/src/logical_plan/analyze/plan.rs
  wren-core/core/src/logical_plan/utils.rs
  wren-core/core/src/mdl/dataset.rs
  wren-core/core/src/mdl/dialect.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust, python

#913 feat: Use data types defined in the Rust Wren Engine to do type mapping
  ibis-server/app/model/metadata/bigquery.py
  ibis-server/app/model/metadata/canner.py
  ibis-server/app/model/metadata/clickhouse.py
  ibis-server/app/model/metadata/dto.py
  ibis-server/app/model/metadata/mssql.py
  ibis-server/app/model/metadata/mysql.py
  ibis-server/app/model/metadata/postgres.py
  ibis-server/app/model/metadata/snowflake.py
  ibis-server/app/model/metadata/trino.py
  ibis-server/tests/routers/v2/connector/test_trino.py
Labels: bigquery, ibis, trino, python

#917 fix(core): disable CommonSubexprEliminate to avoid generate invalid plan for unparsing
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust

#928 test(bigquery): test all functions
  ibis-server/resources/function_list/bigquery.csv
  ibis-server/tests/model/__init__.py
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/postgres/test_functions.py
  ibis-server/tests/util.py
  ibis-server/tests/util/__init__.py
  ibis-server/tests/util/csv_parser.py
  ibis-server/tests/util/sql_generator.py
Labels: bigquery, ibis, python

#933 feat(engine): handle target.*
  ibis-server/tests/routers/v2/connector/test_postgres.py
  wren-base/src/main/java/io/wren/base/dto/Column.java
  wren-base/src/main/java/io/wren/base/sqlrewrite/analyzer/StatementAnalyzer.java
  wren-base/src/test/java/io/wren/base/sqlrewrite/AbstractTestModel.java
  wren-base/src/test/java/io/wren/base/sqlrewrite/TestAllRulesRewrite.java
  wren-base/src/test/java/io/wren/base/sqlrewrite/TestMetric.java
  wren-base/src/test/java/io/wren/base/sqlrewrite/TestWrenDataLineage.java
  wren-base/src/test/java/io/wren/base/sqlrewrite/analyzer/TestDecisionPointAnalyzer.java
  wren-base/src/test/java/io/wren/base/sqlrewrite/analyzer/TestStatementAnalyzer.java
  wren-tests/src/test/java/io/wren/testing/TestMDLResource.java
  wren-tests/src/test/java/io/wren/testing/TestMDLResourceV2.java
  wren-tests/src/test/java/io/wren/testing/duckdb/TestDynamicFields.java
Labels: v1-engine-changed, ibis, python

#937 ci(milesonte): remove impracticable workflow
  .github/workflows/milestone.yml
Labels: ci

#935 ci(maven-test): fix condition
  .github/workflows/maven-tests.yml
Labels: ci

#938 chore: adjust wording and log
  ibis-server/app/mdl/analyzer.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/middleware/__init__.py
  ibis-server/docs/development.md
Labels: documentation, ibis, python

#939 chore: remove unused ci
  .github/workflows/core-py-mult-platform-ci.yml
Labels: ci

#936 ci(labeler): add ci and v1-engine-changed
  .github/labeler.yml
Labels: ci

#941 chore(core): remove unused `properties` field
  wren-base/src/main/java/io/wren/base/WrenMDL.java
  wren-base/src/main/java/io/wren/base/dto/Column.java
  wren-base/src/main/java/io/wren/base/dto/CumulativeMetric.java
  wren-base/src/main/java/io/wren/base/dto/DateSpine.java
  wren-base/src/main/java/io/wren/base/dto/EnumDefinition.java
  wren-base/src/main/java/io/wren/base/dto/EnumValue.java
  wren-base/src/main/java/io/wren/base/dto/Macro.java
  wren-base/src/main/java/io/wren/base/dto/Measure.java
  wren-base/src/main/java/io/wren/base/dto/Metric.java
  wren-base/src/main/java/io/wren/base/dto/Model.java
  wren-base/src/main/java/io/wren/base/dto/Relationship.java
  wren-base/src/main/java/io/wren/base/dto/View.java
  wren-base/src/main/java/io/wren/base/dto/Window.java
  wren-base/src/test/java/io/wren/base/dto/TestManifestSerDe.java
  wren-base/src/test/java/io/wren/base/sqlrewrite/AbstractTestFramework.java
  wren-base/src/test/java/io/wren/base/sqlrewrite/AbstractTestModel.java
  wren-base/src/test/java/io/wren/base/sqlrewrite/TestCumulativeMetric.java
  wren-tests/src/test/resources/duckdb/mdl.json
  wren-tests/src/test/resources/tpch_mdl.json
Labels: v1-engine-changed

#942 ci(image): remove unused inspect step
  .github/workflows/stable-release.yml
Labels: ci

#943 fix(core): make aggregate functions and window functions support zero argument
  wren-core/core/src/mdl/function.rs
Labels: core, rust

#947 test(mysql): test all functions
  ibis-server/resources/function_list/mysql.csv
  ibis-server/tests/routers/v3/connector/mysql/test_functions.py
  ibis-server/tests/util/sql_generator.py
Labels: ibis, python

#955 ci(labeler): remove unused label
  .github/labeler.yml
Labels: ci

#950 test(mssql): test all functions
  ibis-server/resources/function_list/mssql.csv
  ibis-server/tests/routers/v3/connector/mssql/test_functions.py
  ibis-server/tests/util/sql_generator.py
Labels: ibis, python

#957 fix(ibis): Display Snowflake constraints without memtable
  ibis-server/app/model/metadata/snowflake.py
Labels: ibis, python

#956 feat(core): upgrade DataFusion to support the array of struct syntax
  ibis-server/tests/conftest.py
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/postgres/test_functions.py
  ibis-server/tests/routers/v3/connector/snowflake/test_functions.py
  wren-core-py/Cargo.lock
  wren-core-py/tests/test_modeling_core.py
  wren-core/Cargo.toml
  wren-core/core/src/mdl/dialect.rs
  wren-core/core/src/mdl/function.rs
  wren-core/core/src/mdl/mod.rs
  wren-core/sqllogictest/test_files/tpch/q7.slt.part
  wren-core/sqllogictest/test_files/tpch/q8.slt.part
  wren-core/sqllogictest/test_files/tpch/q9.slt.part
Labels: core, ibis, dependencies, rust, python

#952 test(clickhouse): test all functions
  ibis-server/resources/function_list/clickhouse.csv
  ibis-server/tests/routers/v3/connector/clickhouse/test_functions.py
  ibis-server/tests/util/sql_generator.py
Labels: ibis, python

#954 test(trino): test all functions
  ibis-server/resources/function_list/trino.csv
  ibis-server/tests/routers/v3/connector/trino/test_functions.py
  ibis-server/tests/util/sql_generator.py
Labels: ibis, trino, python

#927 test: create a framework for testing functions
  ibis-server/app/util.py
  ibis-server/justfile
  ibis-server/pyproject.toml
  ibis-server/resources/function_list/bigquery.csv
  ibis-server/resources/function_list/clickhouse.csv
  ibis-server/resources/function_list/mssql.csv
  ibis-server/resources/function_list/mysql.csv
  ibis-server/resources/function_list/postgres.csv
  ibis-server/resources/function_list/trino.csv
  ibis-server/tests/model/__init__.py
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/clickhouse/test_functions.py
  ibis-server/tests/routers/v3/connector/mssql/test_functions.py
  ibis-server/tests/routers/v3/connector/mysql/test_functions.py
  ibis-server/tests/routers/v3/connector/postgres/test_functions.py
  ibis-server/tests/routers/v3/connector/trino/test_functions.py
  ibis-server/tests/util/__init__.py
  ibis-server/tests/util/csv_parser.py
  ibis-server/tests/util/sql_generator.py
Labels: bigquery, ibis, dependencies, python
