Repository Canner/wren-engine, pull requests merged in 2025-06, with the labels that each got.

#1212 fix(ibis): Resolved MySQL connection error when password is None
  ibis-server/app/model/data_source.py
Labels: ibis, python

#1205 chore(ibis): add kwargs and security-related arguments for connection info
  ibis-server/app/model/__init__.py
  ibis-server/app/model/data_source.py
  ibis-server/tests/routers/v3/connector/oracle/test_query.py
Labels: ibis, python

#1211 feat(core): implement column-level access control for the model
  ibis-server/app/mdl/core.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
  wren-core-base/Cargo.toml
  wren-core-base/manifest-macro/src/lib.rs
  wren-core-base/src/mdl/builder.rs
  wren-core-base/src/mdl/cls.rs
  wren-core-base/src/mdl/manifest.rs
  wren-core-py/Cargo.lock
  wren-core-py/Cargo.toml
  wren-core-py/src/context.rs
  wren-core-py/tests/test_modeling_core.py
  wren-core/benchmarks/src/tpch/run.rs
  wren-core/core/src/logical_plan/analyze/access_control.rs
  wren-core/core/src/logical_plan/analyze/plan.rs
  wren-core/core/src/logical_plan/context_provider.rs
  wren-core/core/src/logical_plan/mod.rs
  wren-core/core/src/logical_plan/utils.rs
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/mod.rs
  wren-core/core/src/mdl/utils.rs
  wren-core/wren-example/examples/calculation-invoke-calculation.rs
  wren-core/wren-example/examples/datafusion-apply.rs
  wren-core/wren-example/examples/plan-sql.rs
  wren-core/wren-example/examples/row-level-access-control.rs
  wren-core/wren-example/examples/view.rs
Labels: core, ibis, dependencies, rust, python

#1215 feat(ibis): upgrade ibis to canner/10.5.1
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/routers/v3/connector/oracle/conftest.py
  ibis-server/tests/routers/v3/connector/oracle/test_query.py
Labels: ibis, dependencies, python, ci

#1221 feat(ibis): Add Redshift connector
  .github/workflows/ibis-ci.yml
  ibis-server/app/model/__init__.py
  ibis-server/app/model/connector.py
  ibis-server/app/model/data_source.py
  ibis-server/app/model/metadata/factory.py
  ibis-server/app/model/metadata/redshift.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/resources/function_list/redshift.csv
  ibis-server/tests/routers/v2/connector/test_redshift.py
  ibis-server/tests/routers/v3/connector/redshift/__init__.py
  ibis-server/tests/routers/v3/connector/redshift/conftest.py
  ibis-server/tests/routers/v3/connector/redshift/test_functions.py
  ibis-server/tests/routers/v3/connector/redshift/test_query.py
  wren-core-base/manifest-macro/src/lib.rs
  wren-core-base/src/mdl/manifest.rs
Labels: ibis, dependencies, python, ci

#1228 feat(ibis): add Redshift IAM credential support
  ibis-server/app/model/__init__.py
  ibis-server/app/model/connector.py
  ibis-server/tests/routers/v2/connector/test_redshift.py
  ibis-server/tests/routers/v3/connector/redshift/conftest.py
Labels: ibis, python

#1231 fix(ibis): fix snowflake test
  ibis-server/tests/routers/v2/connector/test_snowflake.py
Labels: ibis, python

#1236 fix(ibis): Restore support for Snowflake password authentication
  ibis-server/app/model/__init__.py
  ibis-server/app/model/data_source.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
Labels: ibis, python
