Repository Canner/wren-engine, pull requests merged in 2025-08, with the labels that each got.

#1278 chore(core): enhance error messages for access controls check
  wren-core/core/src/logical_plan/analyze/access_control.rs
  wren-core/core/src/logical_plan/analyze/model_generation.rs
  wren-core/core/src/logical_plan/analyze/plan.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust

#1277 feat(ibis): Include HTTP headers in query cache key generation
  ibis-server/app/dependencies.py
  ibis-server/app/query_cache/__init__.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/tests/routers/v3/connector/bigquery/test_query.py
  ibis-server/tests/routers/v3/connector/postgres/test_fallback_v2.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
  ibis-server/tests/routers/v3/connector/postgres/test_validate.py
Labels: ibis, python

#1279 feat(core): add BigQuery EXTRACT function support and window frame validation
  wren-core-base/src/mdl/utils.rs
  wren-core/core/src/logical_plan/analyze/model_generation.rs
  wren-core/core/src/mdl/dialect/inner_dialect.rs
  wren-core/core/src/mdl/dialect/wren_dialect.rs
  wren-core/core/src/mdl/function.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust

#1286 chore(ibis): improve the date add/sub function for snowflake
  ibis-server/resources/function_list/snowflake.csv
  ibis-server/tests/routers/v3/connector/snowflake/test_functions.py
Labels: ibis, python

#1293 feat(core): bump DataFusion to 49.0.1
  ibis-server/tests/conftest.py
  ibis-server/tests/routers/v3/connector/local_file/test_functions.py
  wren-core-py/Cargo.lock
  wren-core-py/Cargo.toml
  wren-core-py/src/context.rs
  wren-core-py/tests/test_modeling_core.py
  wren-core/Cargo.toml
  wren-core/core/src/logical_plan/analyze/model_anlayze.rs
  wren-core/core/src/logical_plan/optimize/simplify_timestamp.rs
  wren-core/core/src/logical_plan/utils.rs
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/dialect/inner_dialect.rs
  wren-core/core/src/mdl/dialect/utils.rs
  wren-core/core/src/mdl/dialect/wren_dialect.rs
  wren-core/core/src/mdl/function.rs
  wren-core/core/src/mdl/mod.rs
  wren-core/sqllogictest/test_files/view.slt
Labels: core, ibis, dependencies, rust, python

#1294 fix(core): disable `ReplaceDistinctWithAggregate` rule
  wren-core-py/src/context.rs
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust, python

#1297 fix(core): disable DecorrelatePredicateSubquery rule
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust

#1301 chore(tool): update data source tool for mysql and postgres
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tools/data_source/mysql.py
  ibis-server/tools/data_source/postgres.py
Labels: ibis, dependencies, python
