Repository Canner/wren-engine, pull requests merged in 2025-09, with the labels that each got.

#1302 chore(ibis): refactor the type mapping table
  ibis-server/app/model/metadata/athena.py
  ibis-server/app/model/metadata/bigquery.py
  ibis-server/app/model/metadata/canner.py
  ibis-server/app/model/metadata/clickhouse.py
  ibis-server/app/model/metadata/mssql.py
  ibis-server/app/model/metadata/mysql.py
  ibis-server/app/model/metadata/object_storage.py
  ibis-server/app/model/metadata/oracle.py
  ibis-server/app/model/metadata/postgres.py
  ibis-server/app/model/metadata/redshift.py
  ibis-server/app/model/metadata/snowflake.py
  ibis-server/app/model/metadata/trino.py
Labels: bigquery, ibis, python

#1303 fix(core): introduce `DATE_DIFF` function
  ibis-server/resources/function_list/bigquery.csv
  ibis-server/resources/white_function_list/bigquery.csv
  ibis-server/tests/conftest.py
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/local_file/test_functions.py
  ibis-server/tests/routers/v3/connector/mysql/test_functions.py
  wren-core-py/Cargo.lock
  wren-core-py/tests/test_modeling_core.py
  wren-core/core/src/mdl/dialect/inner_dialect.rs
  wren-core/core/src/mdl/function.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, bigquery, ibis, rust, python

#1306 fix(core): fix the default session time zone
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust

#1323 fix(core): fix temporal add and sub function of BigQuery
  ibis-server/app/custom_sqlglot/dialects/wren.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/resources/function_list/bigquery.csv
  ibis-server/resources/white_function_list/bigquery.csv
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tools/query_local_run.py
  wren-core/core/src/logical_plan/utils.rs
  wren-core/core/src/mdl/function.rs
Labels: core, bigquery, ibis, rust, python

#1328 chore(ibis): add lint rule for cython-compatible
  ibis-server/app/mdl/substitute.py
  ibis-server/app/query_cache/__init__.py
  ibis-server/app/query_cache/manager.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/util/sql_generator.py
Labels: ibis, dependencies, python

#1330 fix(core): allow the RLAC condition invoke the hidden columns
  wren-core-base/src/mdl/manifest.rs
  wren-core/core/src/logical_plan/analyze/access_control.rs
  wren-core/core/src/logical_plan/analyze/plan.rs
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/dataset.rs
  wren-core/core/src/mdl/mod.rs
  wren-core/core/src/mdl/utils.rs
Labels: core, rust

#1332 Update README.md
  README.md
Labels: documentation
