Repository Canner/wren-engine, pull requests merged in 2025-02, with the labels that each got.

#1043 feat(ibis): Enabled Passwordless Connection for Data Sources BE
  ibis-server/app/model/__init__.py
  ibis-server/app/model/data_source.py
Labels: ibis, python

#1048 feat(ibis): introduce minio connector
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/model/__init__.py
  ibis-server/app/model/connector.py
  ibis-server/app/model/data_source.py
  ibis-server/app/model/metadata/factory.py
  ibis-server/app/model/metadata/object_storage.py
  ibis-server/app/model/utils.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/routers/v2/connector/test_minio_file.py
Labels: ibis, dependencies, python

#1053 feat(ibis): introduce GCS file connector
  .github/workflows/ibis-ci.yml
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/model/__init__.py
  ibis-server/app/model/connector.py
  ibis-server/app/model/data_source.py
  ibis-server/app/model/metadata/factory.py
  ibis-server/app/model/metadata/object_storage.py
  ibis-server/app/model/utils.py
  ibis-server/pyproject.toml
  ibis-server/tests/routers/v2/connector/test_gcs_file.py
Labels: ibis, dependencies, python, ci

#1054 fix(model): bigquery, avoid fetching duplicated fields when fetching it
  ibis-server/app/model/metadata/bigquery.py
Labels: bigquery, ibis, python

#1055 feat(bigquery): support to query BigQuery external table
  ibis-server/app/model/connector.py
  ibis-server/app/model/data_source.py
Labels: ibis, python

#1060 feat(ibis): bump ibis to 10.0.0
  ibis-server/Dockerfile
  ibis-server/app/model/__init__.py
  ibis-server/app/model/data_source.py
  ibis-server/docs/development.md
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/routers/v2/connector/test_bigquery.py
  ibis-server/tests/routers/v2/connector/test_canner.py
  ibis-server/tests/routers/v2/connector/test_clickhouse.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
  ibis-server/tests/routers/v2/connector/test_mysql.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
  ibis-server/tests/routers/v2/connector/test_trino.py
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/bigquery/test_query.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
Labels: documentation, bigquery, ibis, dependencies, python

#1073 chore(java): fix the maven test dependency
  wren-base/pom.xml
  wren-tests/pom.xml
Labels: v1-engine-changed
