Repository Canner/wren-engine, pull requests merged in 2025-07, with the labels that each got.

#1235 fix(ibis): using DataFusion to format the query result
  ibis-server/app/model/connector.py
  ibis-server/app/model/data_source.py
  ibis-server/app/query_cache/__init__.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/app/util.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/routers/v2/connector/test_bigquery.py
  ibis-server/tests/routers/v2/connector/test_clickhouse.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
  ibis-server/tests/routers/v2/connector/test_mysql.py
  ibis-server/tests/routers/v2/connector/test_oracle.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v2/connector/test_redshift.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
  ibis-server/tests/routers/v2/connector/test_trino.py
  ibis-server/tests/routers/v3/connector/bigquery/test_query.py
  ibis-server/tests/routers/v3/connector/local_file/test_query.py
  ibis-server/tests/routers/v3/connector/oracle/test_query.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
  ibis-server/tests/util/sql_generator.py
  wren-core/core/src/logical_plan/analyze/access_control.rs
  wren-core/core/src/logical_plan/analyze/plan.rs
  wren-core/core/src/logical_plan/utils.rs
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/function.rs
  wren-core/core/src/mdl/mod.rs
  wren-core/core/src/mdl/utils.rs
  wren-core/wren-example/examples/calculation-invoke-calculation.rs
  wren-core/wren-example/examples/datafusion-apply.rs
  wren-core/wren-example/examples/plan-sql.rs
  wren-core/wren-example/examples/row-level-access-control.rs
  wren-core/wren-example/examples/to-many-calculation.rs
  wren-core/wren-example/examples/view.rs
Labels: core, bigquery, ibis, dependencies, rust, python

#1244 fix(core-py): avoid to generate duplicate models after extracting manifest
  wren-core-base/src/mdl/manifest.rs
  wren-core-py/src/context.rs
  wren-core-py/src/extractor.rs
  wren-core-py/tests/test_modeling_core.py
Labels: python

#1252 fix: trino metadata query with many catalogs
  ibis-server/app/model/metadata/trino.py
Labels: ibis, python

#1258 fix(development): upgrade python image to fix nightly image building
  ibis-server/Dockerfile
Labels: ibis, python

#1256 feat(ibis): introduce Wren engine python API and demo program
  .github/workflows/ibis-ci.yml
  ibis-server/Dockerfile
  ibis-server/README.md
  ibis-server/app/config.py
  ibis-server/app/mdl/java_engine.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/model/connector.py
  ibis-server/app/model/data_source.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/entrypoint.sh
  ibis-server/justfile
  ibis-server/notebooks/demo.ipynb
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/resources/demo/jaffle_shop.duckdb
  ibis-server/resources/demo/jaffle_shop_mdl.json
  ibis-server/wren/__init__.py
  ibis-server/wren/__main__.py
  ibis-server/wren/session/__init__.py
Labels: documentation, ibis, dependencies, python, ci

#1260 feat(ibis): introduce database and statement timeout for connector
  ibis-server/app/config.py
  ibis-server/app/model/__init__.py
  ibis-server/app/model/connector.py
  ibis-server/app/model/data_source.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/app/util.py
  ibis-server/resources/function_list/postgres.csv
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v3/connector/postgres/test_functions.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
  ibis-server/tests/test_main.py
Labels: ibis, python

#1268 revert(ibis): bump aiohttp from 3.12.12 to 3.12.14 in /ibis-server in the pip group
  ibis-server/poetry.lock
Labels: ibis, python

#1270 fix(ibis): remove psycopg2 from the release envrioment
  ibis-server/app/util.py
Labels: ibis, python

#1271 feat(ibis): Introduce bigquery white function list
  ibis-server/Dockerfile
  ibis-server/app/config.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/resources/fuzzing/bigquery.json
  ibis-server/resources/white_function_list/bigquery.csv
  ibis-server/tests/routers/v3/connector/bigquery/conftest.py
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/test_main.py
  ibis-server/tools/white_remote_function.py
Labels: bigquery, ibis, python

#1266 feat(ibis): add statement_timeout for Clickhouse
  ibis-server/app/dependencies.py
  ibis-server/app/model/__init__.py
  ibis-server/app/model/data_source.py
  ibis-server/app/model/metadata/dto.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/app/util.py
  ibis-server/resources/function_list/clickhouse.csv
  ibis-server/tests/routers/v2/connector/test_clickhouse.py
  ibis-server/tests/routers/v3/connector/clickhouse/test_functions.py
Labels: ibis, dependencies, python, ci

#1273 fix(ibis): handle pyarrow unsupported types (decimal and uuid)
  ibis-server/app/model/connector.py
  ibis-server/app/model/data_source.py
  ibis-server/app/util.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/wren/__main__.py
Labels: ibis, python

#1275 feat(ibis): remove `to_char` from BigQuery white function list
  ibis-server/resources/white_function_list/bigquery.csv
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
Labels: bigquery, ibis, python
