Repository Canner/wren-engine, pull requests merged in 2025-01, with the labels that each got.

#1023 chore(ibis): format float with scientific notation
  ibis-server/app/util.py
  ibis-server/tests/routers/v2/connector/test_bigquery.py
  ibis-server/tests/routers/v2/connector/test_canner.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v2/connector/test_trino.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
Labels: bigquery, ibis, python

#1029 feat(ibis): introduce Local file connector
  ibis-server/app/main.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/model/__init__.py
  ibis-server/app/model/connector.py
  ibis-server/app/model/data_source.py
  ibis-server/app/model/metadata/dto.py
  ibis-server/app/model/metadata/factory.py
  ibis-server/app/model/metadata/object_storage.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/resource/test_file_source/invalid
  ibis-server/tests/resource/test_file_source/type-test-csv/t1.csv
  ibis-server/tests/resource/test_file_source/type-test-csv/t2.csv
  ibis-server/tests/resource/test_file_source/type-test-json/t1.json
  ibis-server/tests/resource/test_file_source/type-test-json/t2.json
  ibis-server/tests/resource/test_file_source/type-test-parquet/t1.parquet
  ibis-server/tests/resource/test_file_source/type-test-parquet/t2.parquet
  ibis-server/tests/resource/test_file_source/type-test.csv
  ibis-server/tests/resource/test_file_source/type-test.json
  ibis-server/tests/resource/test_file_source/type-test.parquet
  ibis-server/tests/routers/v2/connector/test_clickhouse.py
  ibis-server/tests/routers/v2/connector/test_local_file.py
  ibis-server/tests/routers/v2/connector/test_mssql.py
  ibis-server/tests/routers/v2/connector/test_mysql.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v2/connector/test_snowflake.py
  ibis-server/tests/routers/v2/connector/test_trino.py
  ibis-server/tests/routers/v3/connector/local_file/__init__.py
  ibis-server/tests/routers/v3/connector/local_file/conftest.py
  ibis-server/tests/routers/v3/connector/local_file/test_query.py
  wren-core-py/tests/test_modeling_core.py
  wren-core/core/src/logical_plan/analyze/model_generation.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, ibis, dependencies, rust, python

#1030 fix(bigquery): fix nested column grouping logic
  ibis-server/app/model/metadata/bigquery.py
  ibis-server/tests/routers/v2/connector/test_bigquery.py
Labels: bigquery, ibis, python

#1031 chore: fix BigQuery v3 test cases
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/bigquery/test_query.py
Labels: ibis, python

#1024 feat(ibis): Added BE Support for MySQL SSL Connection
  ibis-server/app/model/__init__.py
  ibis-server/app/model/data_source.py
  ibis-server/tests/routers/v2/connector/test_mysql.py
Labels: ibis, python

#1037 fix(ibis): move duckdb and opendal to main-dependency
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
Labels: ibis, dependencies, python
