Repository Canner/wren-engine, pull requests merged in 2025-04, with the labels that each got.

#1129 fix(ibis): fix the function white list of DuckDB
  ibis-server/resources/function_list/duckdb.csv
  ibis-server/tests/routers/v3/connector/local_file/test_functions.py
  wren-core/core/src/logical_plan/utils.rs
Labels: core, ibis, rust, python

#1130 Update README.md
  README.md
Labels: documentation

#1088 feat(ibis): persistent query cache
  ibis-server/app/main.py
  ibis-server/app/query_cache/__init__.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v3/connector/postgres/test_fallback_v2.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
Labels: ibis, dependencies, python

#1131 fix(core): simplify the available function lists
  ibis-server/tests/conftest.py
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/local_file/test_functions.py
  ibis-server/tests/routers/v3/connector/mysql/test_functions.py
  ibis-server/tests/routers/v3/connector/postgres/test_functions.py
  ibis-server/tests/routers/v3/connector/trino/test_functions.py
  wren-core-py/src/context.rs
  wren-core-py/tests/test_modeling_core.py
Labels: ibis, python

#1141 Update README.md
  README.md
Labels: documentation

#1138 feat(ibis): override query cache
  ibis-server/app/query_cache/__init__.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v3/connector/postgres/test_fallback_v2.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
Labels: ibis, python

#1145 fix(core): expand the wildcard before Wren rewrite rules
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
  wren-core-py/tests/test_modeling_core.py
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/mod.rs
  wren-core/sqllogictest/bin/sqllogictests.rs
  wren-core/sqllogictest/test_files/model.slt
Labels: core, ibis, rust, python

#1142 chore(ibis): add the API details for the doc
  ibis-server/app/main.py
  ibis-server/app/model/__init__.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/tools/README.md
  ibis-server/tools/generate_openapi.py
Labels: documentation, ibis, python

#1147 Update README.md
  README.md
Labels: documentation

#1152 feat(substitute): add default header to model substitute
  ibis-server/app/dependencies.py
  ibis-server/app/mdl/substitute.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v3/connector/postgres/test_model_substitute.py
Labels: ibis, python

#1154 add overview image
  README.md
  misc/wren_engine_overview.png
Labels: documentation

#1155 fix(substitute): validate catalog and schema existence during mapping
  ibis-server/app/mdl/substitute.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v3/connector/postgres/test_model_substitute.py
Labels: ibis, python

#1158 Update README.md
  README.md
Labels: documentation

#1157 feat(substitute): smart case model substitute
  ibis-server/app/mdl/substitute.py
  ibis-server/tests/routers/v2/connector/test_oracle.py
Labels: ibis, python

#1162 feat(ibis): query cache with connection url
  ibis-server/app/query_cache/__init__.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v3/connector/postgres/test_fallback_v2.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
Labels: ibis, python

#1164 deps(ci): disable sccache-cache for rust action
  .github/actions/rust/setup-rust-runtime/action.yaml
Labels: ci

#1166 chore(ci): add explicit permissions for workflow
  .github/workflows/build-image.yml
  .github/workflows/core-py-ci.yml
  .github/workflows/ibis-ci.yml
  .github/workflows/maven-tests.yml
  .github/workflows/rust.yml
  .github/workflows/stable-release.yml
Labels: ci

#1167 feat(ibis): query cache with bigquery info
  ibis-server/app/model/__init__.py
  ibis-server/app/query_cache/__init__.py
  ibis-server/tests/routers/v2/connector/test_bigquery.py
  ibis-server/tests/routers/v3/connector/bigquery/test_query.py
Labels: bigquery, ibis, python

#1168 Update README.md
  README.md
Labels: documentation

#1165 chore(ibis-bq): add `timestamp` function for BigQuery
  ibis-server/resources/function_list/bigquery.csv
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/bigquery/test_query.py
  ibis-server/tools/query_local_run.py
Labels: bigquery, ibis, python

#1173 fix(core): fix the uppercase table name of the model tableReference
  wren-core-base/Cargo.toml
  wren-core-base/src/mdl/builder.rs
  wren-core-base/src/mdl/manifest.rs
  wren-core-base/src/mdl/mod.rs
  wren-core-base/src/mdl/utils.rs
  wren-core-py/Cargo.lock
  wren-core/core/src/mdl/mod.rs
Labels: core, dependencies, rust, python
