Repository Canner/wren-engine, pull requests merged in 2025-03, with the labels that each got.

#1067 feat(ibis): Add Oracle connector
  ibis-server/app/model/__init__.py
  ibis-server/app/model/data_source.py
  ibis-server/app/model/metadata/factory.py
  ibis-server/app/model/metadata/oracle.py
  ibis-server/app/util.py
  ibis-server/docs/how-to-add-data-source.md
  ibis-server/justfile
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/routers/v2/connector/test_oracle.py
Labels: documentation, ibis, dependencies, python

#1080 feat(ibis): add OpenTelemetry tracing logs
  ibis-server/Metrics.md
  ibis-server/README.md
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/mdl/substitute.py
  ibis-server/app/model/connector.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/app/util.py
  ibis-server/justfile
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
Labels: documentation, ibis, dependencies, python

#1083 fix(engine): exclude the CTE table when source node checking
  wren-base/src/main/java/io/wren/base/sqlrewrite/WrenSqlRewrite.java
  wren-tests/src/test/java/io/wren/testing/TestMDLResourceV2.java
Labels: v1-engine-changed

#1084 feat(core): upgrade DataFusion to 46.0.0
  ibis-server/tests/conftest.py
  wren-core-py/Cargo.lock
  wren-core-py/tests/test_modeling_core.py
  wren-core/Cargo.toml
  wren-core/core/src/logical_plan/analyze/model_anlayze.rs
  wren-core/core/src/logical_plan/analyze/plan.rs
  wren-core/core/src/logical_plan/utils.rs
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/dialect/utils.rs
  wren-core/core/src/mdl/lineage.rs
  wren-core/core/src/mdl/mod.rs
  wren-core/sqllogictest/test_files/tpch/q22.slt.part
Labels: core, ibis, dependencies, rust, python

#1082 feat(ibis): pushdown the limit of the query request into SQL
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/app/util.py
  ibis-server/tests/routers/v2/connector/test_postgres.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
  wren-core-py/src/context.rs
  wren-core-py/src/errors.rs
  wren-core-py/tests/test_modeling_core.py
  wren-core/core/src/lib.rs
Labels: core, ibis, dependencies, rust, python

#1091 fix(ibis): Enforcing MySQL utf8mb4 charset in connections
  ibis-server/app/model/data_source.py
Labels: ibis, python

#1094 feat(mcp): introduce MCP server
  mcp-server/README.md
  mcp-server/app/__init__.py
  mcp-server/app/dto.py
  mcp-server/app/utils.py
  mcp-server/app/wren.py
  mcp-server/docker/compose.yaml
  mcp-server/etc/config.properties
  mcp-server/justfile
  mcp-server/mdl.schema.json
  mcp-server/pyproject.toml
  mcp-server/uv.lock
Labels: documentation, dependencies

#1098 revert: upgrade DataFusion to 46.0.0
  ibis-server/tests/conftest.py
  wren-core-py/Cargo.lock
  wren-core-py/tests/test_modeling_core.py
  wren-core/Cargo.toml
  wren-core/core/src/logical_plan/analyze/model_anlayze.rs
  wren-core/core/src/logical_plan/analyze/plan.rs
  wren-core/core/src/logical_plan/utils.rs
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/dialect/utils.rs
  wren-core/core/src/mdl/lineage.rs
  wren-core/core/src/mdl/mod.rs
  wren-core/sqllogictest/test_files/tpch/q22.slt.part
Labels: core, ibis, dependencies, rust, python

#1099 chore(ibis): add function list for DuckDB
  ibis-server/app/config.py
  ibis-server/resources/function_list/duckdb.csv
  ibis-server/tests/routers/v3/connector/local_file/test_functions.py
Labels: ibis, python

#1100 chore(ibis): add the fallback mechanism for v3 API
  ibis-server/README.md
  ibis-server/app/routers/v2/analysis.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/tests/routers/v3/connector/postgres/test_fallback_v2.py
  ibis-server/tests/routers/v3/connector/postgres/test_model_substitute.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
Labels: documentation, ibis, python

#1109 Update readme with MCP
  README.md
  misc/mcp_wren_engine.webp
Labels: documentation

#1111 chore(doc): update README.md
  README.md
Labels: documentation

#1113 Update README.md
  README.md
Labels: documentation

#1116 Update README.md
  README.md
Labels: documentation

#1117 Update README.md
  README.md
Labels: documentation

#1114 fix(core): add data source variant for file connectors
  ibis-server/tests/routers/v2/connector/test_gcs_file.py
  ibis-server/tests/routers/v2/connector/test_local_file.py
  ibis-server/tests/routers/v2/connector/test_minio_file.py
  ibis-server/tests/routers/v2/connector/test_s3_file.py
  wren-core-base/manifest-macro/src/lib.rs
  wren-core-base/src/mdl/manifest.rs
Labels: core, ibis, rust, python

#1118 chore(ibis): Cherry-pick the commit related to file connector datasource serde
  ibis-server/tests/routers/v2/connector/test_gcs_file.py
  ibis-server/tests/routers/v2/connector/test_local_file.py
  ibis-server/tests/routers/v2/connector/test_minio_file.py
  ibis-server/tests/routers/v2/connector/test_s3_file.py
  wren-core-base/manifest-macro/src/lib.rs
  wren-core-base/src/mdl/manifest.rs
Labels: ibis, python

#1123 doc(mcp): Update README.md
  README.md
Labels: documentation

#1103 fix(core): disable ScalarSubqueryToJoin
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust

#1124 deps(core): upgrade to datafusion 0.46.1
  wren-core-py/Cargo.lock
  wren-core/Cargo.toml
Labels: core, dependencies, rust, python

#1112 fix(ibis): refactor the available function list
  ibis-server/resources/function_list/bigquery.csv
  ibis-server/resources/function_list/canner.csv
  ibis-server/resources/function_list/clickhouse.csv
  ibis-server/resources/function_list/mssql.csv
  ibis-server/resources/function_list/mysql.csv
  ibis-server/resources/function_list/postgres.csv
  ibis-server/resources/function_list/snowflake.csv
  ibis-server/resources/function_list/trino.csv
  ibis-server/tests/conftest.py
  ibis-server/tests/routers/v3/connector/bigquery/test_functions.py
  ibis-server/tests/routers/v3/connector/canner/test_functions.py
  ibis-server/tests/routers/v3/connector/clickhouse/test_functions.py
  ibis-server/tests/routers/v3/connector/mssql/test_functions.py
  ibis-server/tests/routers/v3/connector/mysql/test_functions.py
  ibis-server/tests/routers/v3/connector/postgres/test_functions.py
  ibis-server/tests/routers/v3/connector/snowflake/test_functions.py
  ibis-server/tests/routers/v3/connector/trino/test_functions.py
  ibis-server/tools/remote_function_check.py
  wren-core-py/Cargo.lock
  wren-core-py/poetry.lock
  wren-core-py/src/context.rs
  wren-core-py/src/errors.rs
  wren-core-py/src/remote_functions.rs
  wren-core-py/tests/functions.csv
  wren-core-py/tests/test_modeling_core.py
  wren-core/core/src/lib.rs
  wren-core/core/src/logical_plan/analyze/plan.rs
  wren-core/core/src/logical_plan/utils.rs
  wren-core/core/src/mdl/function.rs
  wren-core/core/src/mdl/mod.rs
  wren-core/core/src/mdl/utils.rs
Labels: core, bigquery, ibis, rust, python
