Repository Canner/wren-engine, pull requests merged in 2025-05, with the labels that each got.

#1171 chore(tool): add tools for importing data to local testing mysql
  ibis-server/tools/data_source/mysql_5.py
  ibis-server/tools/query_local_run.py
Labels: ibis, python

#1174 feat(ibis): add header to disable the fallback and refine fallback log
  ibis-server/app/dependencies.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/app/util.py
  ibis-server/tests/routers/v3/connector/postgres/test_fallback_v2.py
Labels: ibis, python

#1180 fix(ibis): skip redundant operations when query cache is hit
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/tests/routers/v3/connector/postgres/test_fallback_v2.py
Labels: ibis, python

#1161 feat(core): introduce the row-level access control for the model
  ibis-server/app/dependencies.py
  ibis-server/app/mdl/rewriter.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/tests/routers/v3/connector/postgres/test_fallback_v2.py
  ibis-server/tests/routers/v3/connector/postgres/test_query.py
  wren-core-base/manifest-macro/src/lib.rs
  wren-core-base/src/mdl/builder.rs
  wren-core-base/src/mdl/manifest.rs
  wren-core-base/tests/data/mdl.json
  wren-core-py/src/context.rs
  wren-core-py/src/manifest.rs
  wren-core-py/tests/test_modeling_core.py
  wren-core/Cargo.toml
  wren-core/benchmarks/src/tpch/run.rs
  wren-core/core/Cargo.toml
  wren-core/core/src/logical_plan/analyze/access_control.rs
  wren-core/core/src/logical_plan/analyze/mod.rs
  wren-core/core/src/logical_plan/analyze/model_anlayze.rs
  wren-core/core/src/logical_plan/analyze/model_generation.rs
  wren-core/core/src/logical_plan/analyze/plan.rs
  wren-core/core/src/logical_plan/analyze/relation_chain.rs
  wren-core/core/src/mdl/context.rs
  wren-core/core/src/mdl/mod.rs
  wren-core/sqllogictest/src/test_context.rs
  wren-core/wren-example/data/company/documents.csv
  wren-core/wren-example/data/company/tenants.csv
  wren-core/wren-example/data/company/users.csv
  wren-core/wren-example/examples/calculation-invoke-calculation.rs
  wren-core/wren-example/examples/datafusion-apply.rs
  wren-core/wren-example/examples/plan-sql.rs
  wren-core/wren-example/examples/row-level-access-control.rs
  wren-core/wren-example/examples/to-many-calculation.rs
  wren-core/wren-example/examples/view.rs
Labels: core, ibis, dependencies, rust, python, ci

#1179 chore: add command and doc for tracing with jaeger
  ibis-server/README.md
  ibis-server/justfile
Labels: documentation, ibis, python

#1186 chore(tool): add Postgres data source for the local run script
  ibis-server/tools/query_local_run.py
Labels: ibis, python

#1187 chore(ibis): enable OpenTelemetry and multiple workers for the ibis-server image
  ibis-server/Dockerfile
  ibis-server/README.md
  ibis-server/app/dependencies.py
  ibis-server/app/routers/v2/connector.py
  ibis-server/app/routers/v3/connector.py
  ibis-server/app/util.py
  ibis-server/app/worker.py
  ibis-server/docs/development.md
  ibis-server/entrypoint.sh
  ibis-server/justfile
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
Labels: documentation, ibis, dependencies, python

#1176 feat(core): add validation rule for the condition syntax check of row-level access controls
  ibis-server/app/model/__init__.py
  ibis-server/app/model/validator.py
  ibis-server/tests/routers/v3/connector/postgres/test_validate.py
  wren-core-base/src/mdl/py_method.rs
  wren-core-py/src/errors.rs
  wren-core-py/src/extractor.rs
  wren-core-py/src/lib.rs
  wren-core-py/src/manifest.rs
  wren-core-py/src/validation.rs
  wren-core-py/tests/test_modeling_core.py
  wren-core/core/src/logical_plan/analyze/access_control.rs
  wren-core/core/src/logical_plan/analyze/mod.rs
Labels: core, ibis, dependencies, rust, python

#1191 chore(tool): add manifest extract for query_local_run
  ibis-server/tools/query_local_run.py
Labels: ibis, python

#1190 fix(core): ensure that the RLAC can be applied when the relationship access
  .github/workflows/rust.yml
  wren-core/core/src/logical_plan/analyze/plan.rs
  wren-core/core/src/logical_plan/analyze/relation_chain.rs
  wren-core/core/src/mdl/mod.rs
Labels: core, rust, ci

#1188 feat(ibis): postgreSQL, PostGIS support for IBIS Server.
  ibis-server/app/model/metadata/dto.py
  ibis-server/app/model/metadata/postgres.py
  ibis-server/poetry.lock
  ibis-server/pyproject.toml
  ibis-server/tests/resource/tpch/data/cities_geometry.parquet
  ibis-server/tests/routers/v2/connector/test_postgres.py
Labels: ibis, dependencies, python

#1206 fix(core): disable eliminating sort in subquery
  wren-core-py/Cargo.lock
Labels: python
